In [1]:
# !pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [1]:
!pip install openensembles

Collecting openensembles
  Downloading OpenEnsembles-2.0.0-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.5 MB/s
Collecting numpy==1.19.*
  Downloading numpy-1.19.5-cp37-cp37m-manylinux2010_x86_64.whl (14.8 MB)
     |████████████████████████████████| 14.8 MB 32.6 MB/s
Collecting scikit-learn==0.24.*
  Downloading scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3 MB)
     |████████████████████████████████| 22.3 MB 67.0 MB/s
Collecting pandas==1.2.*
  Downloading pandas-1.2.5-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 42.2 MB/s
Collecting hdbscan==0.8.*
  Downloading hdbscan-0.8.28.tar.gz (5.2 MB)
     |████████████████████████████████| 5.2 MB 54.7 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting scipy==1.6.*
  Downloading scipy-1.6.3-cp37-cp37m-manylinux1_x86_64.whl (27.4 MB)
     |████████████████████████████████| 27.4 MB 1.3 MB/s
Collecting matplotlib==3.3.*
  Downloading matplotlib-3.3.4-cp37-cp37m-manylinux1_x86_64.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 47.8 MB/s
Collecting networkx==2.5
  Downloading networkx-2.5-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 43.5 MB/s
Collecting hdbscan==0.8.*
  Downloading hdbscan-0.8.27.tar.gz (6.4 MB)
     |████████████████████████████████| 6.4 MB 40.9 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: joblib>=1.0 in /usr/local/lib/python3.7/dist-packages (from hdbscan==0.8.*->openensembles) (1.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from hdbscan==0.8.*->openensembles) (1.15.0)
Requirement already satisfied: cython>=0.27 in /usr/local/lib/python3.7/dist-packages (from hdbscan==0.8.*->openensembles) (0.29.30)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.3.*->openensembles) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.3.*->openensembles) (7.1.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.3.*->openensembles) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.3.*->openensembles) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.3.*->openensembles) (0.11.0)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.7/dist-packages (from networkx==2.5->openensembles) (4.4.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.2.*->openensembles) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.*->openensembles) (3.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib==3.3.*->openensembles) (4.2.0)
Building wheels for collected packages: hdbscan
  Building wheel for hdbscan (PEP 517) ... done
  Created wheel for hdbscan: filename=hdbscan-0.8.27-cp37-cp37m-linux_x86_64.whl size=2311923 sha256=7acc0b09bb1dab46b11762de0ac7d5f3ea6b83e296cb2b06178a141771e174dd
  Stored in directory: /root/.cache/pip/wheels/73/5f/2f/9a259b84003b84847c259779206acecabb25ab56f1506ee72b
Successfully built hdbscan
Installing collected packages: numpy, scipy, scikit-learn, pandas, networkx, matplotlib, hdbscan, openensembles
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
  Attempting uninstall: networkx
    Found existing installation: networkx 2.6.3
    Uninstalling networkx-2.6.3:
      Successfully uninstalled networkx-2.6.3
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.0+zzzcolab20220506162203 requires tf-estimator-nightly==2.8.0.dev2021122109, which is not installed.
yellowbrick 1.4 requires scikit-learn>=1.0.0, but you have scikit-learn 0.24.2 which is incompatible.
xarray-einstats 0.2.2 requires numpy>=1.21, but you have numpy 1.19.5 which is incompatible.
tensorflow 2.8.0+zzzcolab20220506162203 requires numpy>=1.20, but you have numpy 1.19.5 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed hdbscan-0.8.27 matplotlib-3.3.4 networkx-2.5 numpy-1.19.5 openensembles-2.0.0 pandas-1.2.5 scikit-learn-0.24.2 scipy-1.6.3

In [6]:
# 第 1 部分
# 載入函式庫
import matplotlib.pyplot as plt
import numpy as np
import openensembles as oe 
import pandas as pd
from sklearn import metrics
# from sklearn.metrics.cluster import silhouette_score  # 輪廓係數 (樣本集,聚類標籤)
# from sklearn.manifold import t_sne
from sklearn.manifold._t_sne import TSNE


# 載入資料集
# data = pd.read_excel('/content/WHR.xls')
# regs = pd.read_excel('/content/REG.xls')

regs = pd.read_excel("/content/REG.xlsx")
data = pd.read_excel('/content/WHR.xlsx')

# 使用 2017 年的資料並填補缺少的項目
recents = data[data.Year == 2017]
recents = recents.dropna(axis=1, how="all") # axis=1: 刪除包含缺失值的列; how="all": 所有的值都缺失，才刪除行或列
recents = recents.fillna(recents.median())

# 使用以下特徵
columns = ['Log GDP per capita',
           'Social support',
           'Healthy life expectancy at birth',
           'Freedom to make life choices',
           'Generosity',
           'Perceptions of corruption',
           'Positive affect',
           'Negative affect',
           'Confidence in national government',
           'Democratic Quality',
           'Delivery Quality']


# 用 TSNE 轉換資料
# tsne = t_sne.TSNE()
tsne = TSNE()
transformed = pd.DataFrame(tsne.fit_transform(recents[columns]))
# 建立 data 物件
cluster_data = oe.data(transformed, [0, 1])

In [89]:
# regs.head()

  Country name          Region
0      Finland  Western Europe
1      Denmark  Western Europe
2  Switzerland  Western Europe
3      Iceland  Western Europe
4  Netherlands  Western Europe

In [90]:
# data.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014"
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,...,NaN,NaN,0.441906,0.286315,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,...,NaN,NaN,0.327318,0.275833,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,...,NaN,NaN,0.336764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,...,NaN,NaN,0.344540,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
transformed.head()

           0         1
0  10.695977 -8.489017
1  -1.065910  4.474726
2   2.779325  1.202718
3  -1.653989  4.711593
4   1.426617  2.406880

In [8]:
# 測試不同的子群數
Ks = [2, 4, 6, 8, 10, 12, 14]
# 測試不同的基學習器個數
sizes = [5, 10, 20, 50]
for K in Ks:
    for ensemble_size in sizes:
      print('子群數'+str(K),'基學習器個數'+str(ensemble_size))

子群數2 基學習器個數5
子群數2 基學習器個數10
子群數2 基學習器個數20
子群數2 基學習器個數50
子群數4 基學習器個數5
子群數4 基學習器個數10
子群數4 基學習器個數20
子群數4 基學習器個數50
子群數6 基學習器個數5
子群數6 基學習器個數10
子群數6 基學習器個數20
子群數6 基學習器個數50
子群數8 基學習器個數5
子群數8 基學習器個數10
子群數8 基學習器個數20
子群數8 基學習器個數50
子群數10 基學習器個數5
子群數10 基學習器個數10
子群數10 基學習器個數20
子群數10 基學習器個數50
子群數12 基學習器個數5
子群數12 基學習器個數10
子群數12 基學習器個數20
子群數12 基學習器個數50
子群數14 基學習器個數5
子群數14 基學習器個數10
子群數14 基學習器個數20
子群數14 基學習器個數50

In [23]:
# 使用openensembles共線鏈(Co-occurrence Linkage)集成非監督式學習的基學習器
# 共線矩陣顯示任何2筆資料被基學習器分在相同子群的頻率
# 共線鏈將共線矩陣視為相似度矩陣，接著使用階層式分群

In [14]:
# 第 2 部分程式
# 建立集成模型，測試2,4,6,8,10,12,14不同的子群數，同時也測試5,10,20,50個基學習器
np.random.seed(123456)
results = {'K':[], 'size':[], 'silhouette': []}
# 測試不同的子群數
Ks = [2, 4, 6, 8, 10, 12, 14]
# 測試不同的基學習器個數
sizes = [5, 10, 20, 50]
for K in Ks:
    for ensemble_size in sizes:
        # 初始化基學習器
        ensemble = oe.cluster(cluster_data)
        for i in range(ensemble_size):
            # 訓練基學習器
            name = f'kmeans_{ensemble_size}_{i}'
            ensemble.cluster('parent', 'kmeans', name, K)

        # 使用共現鏈組成所有基學習器的輸出
        preds = ensemble.finish_co_occ_linkage(threshold = 0.5)
        print(f'K: {K}, size {ensemble_size}:', end=' ')
        # 計算輪廓係數
        silhouette = metrics.silhouette_score(recents[columns],preds.labels['co_occ_linkage'])
        print('%.2f' % silhouette)
        results['K'].append(K)
        results['size'].append(ensemble_size)
        results['silhouette'].append(silhouette)
        
results_df = pd.DataFrame(results)
cross = pd.crosstab(results_df.K,
                    results_df['size'], 
                    results_df['silhouette'],
                    aggfunc=lambda x: x)
print(cross)

K: 2, size 5: 0.54
K: 2, size 10: 0.54
K: 2, size 20: 0.54
K: 2, size 50: 0.54
K: 4, size 5: 0.47
K: 4, size 10: 0.47
K: 4, size 20: 0.47
K: 4, size 50: 0.47
K: 6, size 5: 0.41
K: 6, size 10: 0.41
K: 6, size 20: 0.41
K: 6, size 50: 0.41
K: 8, size 5: 0.34
K: 8, size 10: 0.35
K: 8, size 20: 0.35
K: 8, size 50: 0.35
K: 10, size 5: 0.36
K: 10, size 10: 0.36
K: 10, size 20: 0.36
K: 10, size 50: 0.36
K: 12, size 5: 0.29
K: 12, size 10: 0.29
K: 12, size 20: 0.24
K: 12, size 50: 0.24
K: 14, size 5: 0.22
K: 14, size 10: 0.30
K: 14, size 20: 0.28
K: 14, size 50: 0.28
size        5         10        20        50
K
2     0.537244  0.537244  0.537244  0.537244
4     0.465501  0.465501  0.465501  0.465501
6     0.406375  0.406375  0.406375  0.406375
8     0.341486  0.350491  0.350876  0.350620
10    0.355462  0.357483  0.355276  0.355462
12    0.294179  0.294179  0.236355  0.236355
14    0.220464  0.301626  0.279723  0.279091

In [15]:
results_df.tail()

     K  size  silhouette
23  12    50    0.236355
24  14     5    0.220464
25  14    10    0.301626
26  14    20    0.279723
27  14    50    0.279091

In [13]:
pd.crosstab(results_df['K'],
                    results_df['size'], 
                    results_df['silhouette'],
                    aggfunc=lambda x: x)

size        5         10        20        50
K
2     0.605554  0.605554  0.605554  0.605554
4     0.614924  0.614924  0.614924  0.614924
6     0.551752  0.551752  0.551752  0.551752
8     0.541048  0.539697  0.539697  0.541048
10    0.539990  0.545942  0.471039  0.543800
12    0.471388  0.471094  0.469247  0.469247
14    0.448303  0.446902  0.446420  0.449785